/* initialize */
html {
    font-size: 14px;
}

h1 {
    font-size: 32px;
    /* padding: 7px 0 18px 0; */
    /* color: #171717; */
}

h2 {
    font-size: 26px;
    margin: 0 0;
    font-weight: bold;
    letter-spacing: 16px;
}

h3 {
    font-size: 10px;
    margin-bottom: 13px;
}

h4 {
    font-size: 24px;
    padding: 9px 0 12px 0;
    letter-spacing: 0px;
    line-height: 34px;
    font-weight: bold;
}

/*CSS Document */

/* PAGE LAYOUT */

body {
    margin: 0 auto;
    width: 100%;
}

#container {
    margin: 95px auto;
    width: 1200px;
}

#contents {
    float: left;
    width: 720px;
    padding-right: 50px;
    padding-left: 55px;
}

.contents-container {
    margin: 0 auto;
}

/* COMMON STYLES */

.sub-title {
    font-size: 10px;
}

/* NAVI */

.navbar-brand {
    padding: 10px 2em 0 24px;
}

.navbar img {
    display: block;
}

.navbar-nav > li > a {
    line-height: 29px;
}

ul.nav li {
    text-align: center;
}

ul.nav.category > li {
    margin-right: 2em;
}

ul.nav.social {
    padding-right: 3em;
}

ul.nav .ranking {
    display: none;
}

.category li:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

/* COMMON HEADER */

.header .sub-title, ul.pickup .sub-title, #single-post .mini-info .sub-title {
    font-size: 9px;
}

/* INDEX HEADER */

#index-page .header h1 {
    width: 720px;
    letter-spacing: 3px;
    font-size: 99px;
    /* height: 109px; */
    /* padding-bottom: 16px; */
    white-space: nowrap;
    padding: 0 0 11px 0;
    margin: 0 0;
}

#index-page .header h2 {
    float: left;
}

#index-page .header span.ca {
    position: absolute;
    font-size: 20px;
    margin: -96px 0 0 695px;
    font-weight: 900;
}

#index-page .description {
    margin: 0 0;
    font-size: 12px;
    padding: 0px 9px 3px 0;
    /* width: 305px; */
    line-height: 22px;
    font-weight: bold;
    overflow: hidden;
    /* width: 55px; */
}

#index-page .site-character {
    float: left;
    padding: -41px 88px 10px 13px;
    width: 378px;
}

#index-page .site-character img {
    width: 305px;
    margin: 0 auto;
    display: block;
}


#index-page p.date {
    font-size: 32px;
    letter-spacing: 1px;
}

#index-page .event {
    font-size: 11px;
    float: left;
    padding-top: 26px;
}

#index-page .event time {
    float: left;
    letter-spacing: 0.1em;
    width: 7em;
}

#index-page .event li {
    padding-bottom: 10px;
}

#index-page .future-event {
    padding-top: 10px;
}

/* INDEX BODY */

.articles li {
    width: 160px;
    height: 380px;
    float: left;
    margin-right: 24px;
}

.articles p {
    margin: 0 0 1em 0;
}

.articles .thimbnailtop img {
    width: 160px !important;
    margin-bottom: 0px;
}

.articles li.article-cr {
    margin-right: 0px;
}

.articles .post-title {
    font-size: 15px;
    height: 69px;
    font-weight: bold;
    margin-bottom: 0px;
}

.articles .post-text {
    font-size: 10px;
    font-weight: normal;
    height: 45px;
    padding-top: 7px;
    float: left;
    width: 110px;
}

.articles .sub-title {
    font-size: 10px;
    border: 1px;
    -webkit-border-radius: 60px;
    border-radius: 3px;
    padding: 3px;
    margin-left: 0px;
}

.articles .mini-info {
    clear: both;
    width: 146px;
    font-size: 12px;
    padding-top: 0px;
}

.articles .mini-info .sub-title {
    font-size: 9px;
    padding: 2px 4px;
    margin-right: 50px;
}

.articles .mini-info p {
    font-size: 8px;
    padding: 0 0;
}

/* CATEGORY HEADER  */

#category-page .cate-right-text {
    text-align: center;
}

#category-page .category-header {
    width: 322px;
}

#category-page .category-header:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#category-page .cate-img-top img {
    height: 92px;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

/** CATEGORY BODY **/

/* AUTHOR HEADER */

#author-page .header img.author-header {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 150px;
    border-radius: 120px;
    float: left;
    margin: 32px 33px 37px -36px;
}

#author-page .header h2 {
    font-size: 3.8em;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #333;
    margin-top: 6px;
    margin-bottom: 4px;
    height: 56px;
}

#author-page .header .big-title {
    font-size: 11px;
    padding: 4px 0 0 0;
    font-weight: 300;
    width: 600px;
    text-align: left !important;
}

#author-page .header {
    width: auto;
    padding: 14px 0 0 89px;
}

#author-page .header:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

/* AUTHOR BODY */

#author-page .pickup-authors {
    display: none;
}

/* PICKUP */

.pickup {
    margin-bottom: 42px;
}

.pickup li {
    padding: 1.5em 0 2.5em 0;
}

.pickup .pickup-img {
    float: left;
    width: 282px;
    padding-right: 2em;
}

.pickup .pickup-img .attachment-post-thumbnail {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.pickup .pickup-text {
    margin: 0 0;
    overflow: hidden;
}

.pickup .pickup-text h3 {
    margin: 0 0;
    font-size: 24px;
    padding: 9px 0 12px 0;
    letter-spacing: 0px;
    line-height: 34px;
    font-weight: bold;
}

.pickup .post-text {
    font-size: 0.8em;
    font-weight: normal;
}

.pickup .pickup-text .mini-info {
    width: 300px;
}

.pickup-authors img {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    float: right;
    margin: -26px 0 0 14px;
}

/* POST */

.entry-content {
    font-size: 18px;
    line-height: 180%;
}

.entry-content img, .entry-content {
    height: auto;
    margin-bottom: 50px;
}

.entry-content h2 {
    line-height: 180%;
}

.navi-pager {
    font-size: 14px;
    text-align: center;
    width: 217px;
    padding-left: 256px;
    padding-bottom: 59px;
    clear: both;
}

.entry-thumbnail img {
    width: 100%;
    height: auto;
}

.post .authors-info {
    padding: 33px 0 50px 12px;
}

.post .authors-info:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.post .authors-info p {
    float: left;
}

.post .authors-info p.name {
    font-size: 20px;
    padding-top: 14px;
    letter-spacing: 0;
}

.post .authors-info p.author-about {
    font-size: 10px;
    padding-left: 30px;
    width: 523px;
    word-spacing: 2px;
}

.post .authors-info .pickup-authors img {
    margin: 0 0 0 0;
}

.popular .popular-header .title {
    font-size: 0.8em;
    letter-spacing: 0.04em;
    padding: 3px;
    display: block;
}

.post-related {
    width: 650px;
    margin: 0 36px;
}

.post-related h3 {
    font-size: 16px;
    margin: 0 0 4px 0;
}

.post-related .relatedthumb {
    margin: 30px 14px 0 1px !important;
    height: 142px !important;
    padding: 19px 13px 20px 13px !important;

}

/* ABOUT */

/* AUTHORS */

.authors img {
    width: 8%;
    height: 8%;
    float: left;
    margin: 19px 0 0 9px;
}

.authors {
    margin-bottom: 4em;
}

.authors ul li:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.authors dl {
    width: 85%;
    padding-left: 26px;
}

.authors .author-social-icons {
    float: right;
    padding-bottom: -1px;
}

.authors .position {
    padding-left: 9px;
}

/* SIDE BAR*/
#side-bar-1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    float: left;
    width: 28%;
    height: auto;
    margin-top: 5px;
}

#side-bar-1 .twitter {
    width: 290px;
    padding: 35px 10px;
}

#side-bar-1 .facebook {
    padding: 15px 0 0 10px;
}

/* SIDE BAR POPULAR */

#side-bar-1 .popular .popular-header {
    width: 65%;
    float: left;
}

#side-bar-1 .popular .popular-header .author {
    font-size: 1.1em;
}

#side-bar-1 .popular .popular-header .views {
    font-size: 0.9em;
}

#side-bar-1 .popular img {
    height: 73px;
    display: block;
}

/* FOOTER */

/* SOCIAL */
.fb-comments {
    padding: 80px 0 0 35px;
}
