/* initialize */

html {
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

h3 {
    color: #F8B0B0;
}

h4 {
    font-size: 1.5em;
    padding: 9px 0 12px 0;
    letter-spacing: 0px;
}

/*CSS Document */

/* PAGE LAYOUT */


body {
    margin: 0 auto;
    width: 100%;
}

#container {
    margin: 70px auto;
    width: 90%;
    max-width: 768px;
}

/* COMMON STYLES */

.sub-title {
    font-size: 1em;
}

#side-bar-1 {
    display: none;
}

#side-bar-1.twitter {
    width: 201px;
    padding: 10px 0 20px 10px;
}

#side-bar-1.facebook {
    padding: 15px 0 0 10px;
}

/* NAVI */

.navbar-brand {
    height: auto;
    padding: 7px 0;
}

.navbar-toggle {
    float: left;
    margin-left: 1em;
}

.navbar-fixed-top {
    top: 0px;
}

@media screen and (min-width: 768px) {
    ul.nav li {
        text-align: center;
    }
}

ul.nav.social li {
    float: left;
}

ul.nav.social li {
    float: left;
}

/* COMMON HEADER */

.header .sub-title, ul.pickup .sub-title, .single-post .mini-info .sub-title {
    font-size: 1em;
}

ul.social-icons {
    display: none;
}


/* INDEX HEADER */

#index-page h1, #index-page h2 {
    text-align: center;
}

#index-page h1 {
    letter-spacing: 3px;
    font-size: 2.5em;
    white-space: nowrap;
}

#index-page h2 {
    font-size: 1.5em;
    padding-top: 4px;
    margin: 0 auto 0.8em auto;
    font-weight: bold;
    letter-spacing: 2px;
}

#index-page .description {
    margin: 0 auto 0.5em auto;
    line-height: 22px;
    width: 90%;
}

#index-page .site-character {
    margin: 0 auto;
}

#index-page .site-character img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}


#index-page p.date {
    font-size: 2.7em;
    float: left;
    letter-spacing: 1px;
    margin-right: 0.5em;
}

#index-page .header h3 {
    font-size: 1em;
}

#index-page .event {
    padding-top: 26px;
}

#index-page .event time {
    float: left;
    letter-spacing: 0.1em;
    width: 7em;
}

#index-page .event li {
    padding-bottom: 10px;
}

#index-page .future-event {
    padding-top: 10px;
}


/* INDEX BODY */

.articles {
    display: none;
}

/* CATEGORY HEADER  */

#category-page .category-header {
    width: 300px;
}

#category-page .cate-img-top img {
    height: 92px;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

#category-page .cate-img-top img {
    margin: 0 auto;
    display: block;
}

/* CATEGORY BODY */

#category-page .big-title, #category-page h2 {
    text-align: center;
}

#category-page .small-title {
    margin-top: 1em;
    font-size: 1em;
}

#category-page .pickup-text .mini-info {
    width: 100%;
}

/* AUTHOR HEADER */

#author-page img.author-header {
    -webkit-border-radius: 150px;
    border-radius: 120px;
    border: solid 1px #E6E1E1;
    margin: 0 auto;
    display: block;
    width: 120px;
}

#author-page .header .sub-title {
    display: none;
}

#author-page h2 {
    font-size: 2.5em;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #666;
    padding: 6px 0 0 0;
    margin-bottom: 4px;
    text-align: center;
}

#author-page .big-title {
    font-size: 11px;
    padding: 4px 0 0 0;
    font-weight: 300;
    width: 100%;
}

#author-page > div:first-child {
    width: auto;

}

/* AUTHOR BODY */

/* PICKUP */
.pickup li {
    padding: 1.5em 0 4em 0;
}

.pickup .pickup-img .attachment-post-thumbnail {
    width: 100%;
    height: auto;
    margin-top: 16px;
}

.pickup .pickup-text {
    width: 100%;
    margin: 0 0;
}

.pickup .pickup-text h3 {
    font-size: 1.5em;
    padding: 9px 0 12px 0;
    letter-spacing: 0px;
}

.pickup .pickup-text .mini-info {
    width: 300px;
}

.pickup .post-text {
    font-size: 0.9em;
    float: left;
    font-weight: normal;
}

.pickup-authors img {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    float: right;
    margin: -26px 0 0 14px;
}

/* POST */

.single-post .pickup-authors img {
    float: left !important;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post {
    word-break: break-all;
}

.post .authors-info {
    width: 95%;
}

.post .authors-info:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.post .authors-info p {

}

.post .authors-info p.name {
    font-size: 1.5em;
    padding: 0.5em 0 0 2.5em;

}

.post .authors-info p.name:after {

}

.post .authors-info p.author-about {
    clear: both;
    font-size: 0.8em;
    width: 100%;
    word-spacing: 2px;
    margin: 3em 0 2em 0;
}

.post .authors-info .pickup-authors img {
    margin: 1em 0 0 0;
    float: left;
}

.entry-content {
    font-size: 1em;
    line-height: 180%;
}

.entry-content {
    height: auto;
    max-width: 95%;
    margin-bottom: 2em;

}

.single-post .entry-content img {
    max-width: 100%;
    height: auto;
    width /***/: auto;
    margin-bottom: 2em;
}

.entry-content h2 {
    line-height: 1.8em;
}

.navi-pager {
    font-size: 1.2em;
    text-align: center;
    clear: both;
}

.entry-thumbnail img {
    width: 100%;
    height: auto;
}

.post-related {
    width: 100%;
    margin: 0 2em;
}

.post-related h3 {
    font-size: 16px;
    margin: 0 0 4px 0;
}

.post-related .relatedthumb {
    margin: 30px 14px 0 1px !important;
    height: 142px !important;
    padding: 19px 13px 20px 13px !important;

}

/* ABOUT */

/* AUTHOR */

.authors dl {
    width: 100%;
}

.authors img {
    width: 80px;
    height: 80px;
    margin: 5px auto;
    display: block;
}

.authors .author-social-icons {
    font-size: 1em;
}

.authors dt {
    text-align: center;
}

.authors .name {
    padding-left: 0.5em;
}

.authors .position {
    display: block;
    font-size: 0.6em;
    padding-left: 0.5em;
}

.delimiter {
    visibility: hidden;

}

/* SIDE BAR */

/* SIDE BAR POPULAR */
#side-bar-1 .popular .popular-header {
    max-width: 400px;
    margin: 0 auto;
}

#side-bar-1 .popular .popular-header .title {
    font-size: 1em;
    padding: 3px;
    display: block;
}

#side-bar-1 .popular .title {
    text-align: left;
    display: block;
}

#side-bar-1 .popular .popular-header .author {
    font-size: 1.3em;
}

#side-bar-1 .popular .popular-header .views {
    font-size: 1.1em;
}

#side-bar-1 .popular img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto 1em auto;
}

/* FOOTER */

/* SOCIAL */
.fb-comments, .fb-comments iframe[style] {
    width: 100% !important;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}





