/* initialize */

a img:hover {
    color: #B4B4B4;
}

a {
    color: rgb(105, 105, 105);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #555;
}

h3 {
    color: #F8B0B0;
}

::selection {
    background: #FDDCDC; /* Safari */
}

::-moz-selection {
    background: #FFC0C0; /* Firefox */
}

/* COMMON STYLE */
.sub-title {
    background-color: rgb(253, 189, 189);
    color: #fff;
}

.header .sub-title, ul.pickup .time-ago, .single-post .mini-info .sub-title {
    color: white;
    background-color: #ffb32f;
    border: solid 1px #ffb32f;
}

.mini-info {
    color: #ffb32f;
}

.mini-info a {
    color: #ffb32f;
}

.pre {
    color: #F8B0B0;
    border: solid 1px #FFDFDF;
}

.pre:hover, .next:hover {
    background-color: #F8B0B0;
}

.pre a:hover, .next a:hover {
    color: #333;
}

.next {
    color: #F8B0B0;
    border: solid 1px #FFDFDF;
}

/* NAVI */

.navbar-fixed-top {
    background: white;
    border-bottom: 1px solid #f7f7f7;
}

.navbar-default .navbar-nav > li > a:hover {
    color: red;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #333;
    background-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #848484;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333;
}

.dropdown-menu > li > a {
    border-bottom: 1px solid #f7f7f7;
    color: #333;
}

/* COMMON HEADER */

.header {
    border-bottom: dotted 1px #ffb32f;
}

/* INDEX HEADER */

#index-page .header h1 span:first-child {
    color: #faf337;
}

#index-page .header h1 span:nth-child(2) {
    color: #fa9223;
}

#index-page .header h1 span:nth-child(3) {
    color: #ffeb47;
}

/* INDEX BODY */

.post-authors img {
    border: solid 1px #E6E1E1;
}

.articles ul {
    border-bottom: dotted 1px #FF8888;
}

.articles li {
    border-top: solid 4px rgb(255, 224, 224);
}

.articles .sub-title {
    color: #FFC0C0;
    background-color: rgb(255, 255, 255);
    border: solid 1px #FFE7E7;
}

/* CATEGORY HEADER  */

#category-page .header {
    border-bottom: dotted 1px #FF8888;
}

#category-page .cate-right-text h2 {
    color: #333;
}

#category-page .header .cate-right-text .sub-title {
    background-color: rgb(253, 189, 189);
    color: #FFF;
}
/* AUTHOR HEADER */

#author-page .header img.author-header {
    border: solid 1px #E6E1E1;
}

/* PICKUP */

.pickup li {
    border-bottom: dotted 1px #ffb32f;
}

.pickup .pickup-img .attachment-post-thumbnail {
    border: 1px solid #f7f7f7;
}

.pickup-authors img {
    border: solid 1px #E6E1E1;
}

/* POST */

.entry-content {
    color: #666;
}

.entry-content p a {
    color: #FFC7CD;
}

.entry-content img {
    border: 1px solid #ddd
}

.post .authors-info p {
    color: #333;
}

.post-related h3 {
    color: #F8B0B0;
}

.post-related .relatedthumb {
    border: solid 2px #FFDFDF !important;
}

/* ABOUT */

.about {
    color: #898989;
}

.about > .description {
    color: #898989;
}

/* AUTHORS */

.authors img {
    border: solid 1px #E6E1E1;
}

.authors {
    border-top: dotted 1px #EAEAEA;
}

.authors li {
    border-bottom: dotted 1px #E5E5E5;
}

.authors dt {
    color: #444;
}

.authors .name {
    color: #444;
}

.authors .post-account {
    color: #848484;
}

.authors .since-date {
    color: rgb(255, 201, 201);
}

.authors .introduction {
    color: #898989;
}

.authors dd {
    color: #6B6969;
}

.authors .author-social-icons a {
    color: #9B9B9B;
}

.authors .author-social-icons a:hover {
    color: #333;
}


/* SIDE BAR */

#side-bar-1 .about, .site-categories {
    border-bottom: dotted 1px #FF8888;
}

#side-bar-1 .twitter {
    border-bottom: dotted 1px #FF8888;
}

#side-bar-1 .side-title {
    color: rgb(255, 212, 209);
}

/* SIDE BAR POPULAR */

#side-bar-1 .popular {
    border-bottom: dotted 1px #FF8888;
}

#side-bar-1 .popular li {
    border-top: dotted 1px #D8CFCF;
}

#side-bar-1 .popular .popular-header .time {
    color: #9D9C9C;
}

#side-bar-1 .popular .popular-header .author {
    color: rgb(255, 193, 193);
}

#side-bar-1 .popular .popular-header .views {
    color: #C5BABA;
}

/* FOOTER */
#footer {
    background-color: #313131;
}

#footer-content {
    color: #817E7E;
}
