/* initialize */

a img:hover {
    color: #B4B4B4;
}

a {
    color: rgb(105, 105, 105);
}



::selection {
    background: #FDDCDC; /* Safari */
}

::-moz-selection {
    background: #FFC0C0; /* Firefox */
}

/* COMMON STYLE */
.sub-title {
    background-color: #6EB3FF;
    color: #fff;
}

.header .sub-title, ul.pickup .time-ago, .single-post .mini-info .sub-title {
    color: white;
    background-color: #6EB3FF;
    border: solid 1px #6EB3FF;
}

.mini-info {
    color: #6EB3FF;
}

.mini-info a {
    color: #6EB3FF;
}

.pre {
    color: #F8B0B0;
    border: solid 1px #FFDFDF;
}

.pre:hover, .next:hover {
    background-color: #F8B0B0;
}

.next {
    color: #F8B0B0;
    border: solid 1px #FFDFDF;
}

/* NAVI */

/* COMMON HEADER */

.header {
    border-bottom: dotted 1px #6EB3FF;
}

/* INDEX HEADER */

h3 {
    font-size: 50px;
}


::selection {
    background: #B2EAFF; /* Safari */
}

::-moz-selection {
    background: #B2EAFF; /* Firefox */
}

#index-page .header h1 span:first-child {
    color: #99E3F1;
}

#index-page .header h1 span:nth-child(3) {
    color: #23B4EC;
}

@media screen and (min-width: 768px) {
    #index-page .header h2 {
        font-size: 23px;
        padding-top: -6px;
        margin: 0 0 3em 0;
        letter-spacing: 3px;
    }
}


#index-page .header .description span:first-child {
    margin-right: 12px;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #fff;
    -webkit-border-radius: 60px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 5px;
}

/* INDEX BODY */

.post-authors img {
    border: solid 1px #E6E1E1;
}

.articles ul {
    border-bottom: dotted 1px #6EB3FF;
}

.articles li {
    border-top: solid 4px #6EB3FF;
}

.articles .sub-title {
    color: #6EB3FF;
    background-color: rgb(255, 255, 255);
    border: solid 1px #6EB3FF;
}

/* CATEGORY HEADER  */

#category-page .header {
    border-bottom: dotted 1px #6EB3FF;
}

#category-page .header .cate-img-top {
    display: none;
}

#category-page .header .cate-right-text .sub-title {
    background-color: rgb(253, 189, 189);
    color: #FFF;
}

/* AUTHOR HEADER */

#author-page .header img.author-header {
    border: solid 1px #E6E1E1;
}

/* PICKUP */

.pickup li {
    border-bottom: dotted 1px #6EB3FF;
}

/* POST */

.entry-content p a {
    color: #6EB3FF;
}

.entry-content img {
    border: 1px solid #ddd
}



.post-related .relatedthumb {
    border: solid 2px #FFDFDF !important;
}

/* ABOUT */

/* AUTHORS */

.authors img {
    border: solid 1px #E6E1E1;
}

.authors {
    border-top: dotted 1px #EAEAEA;
}

.authors li {
    border-bottom: dotted 1px #E5E5E5;
}

.authors .since-date {
    color: #23B4EC;
}

/* SIDE BAR */

#side-bar-1 .about, .site-categories {
    border-bottom: dotted 1px #6EB3FF;
}

#side-bar-1 .twitter {
    border-bottom: dotted 1px #6EB3FF;
}

#side-bar-1 .side-title {
    color: #23B4EC;
}

.about .takuya-sign > img {
    width: 20%;
    float: right;
}

/* SIDE BAR POPULAR */

#side-bar-1 .popular, #side-bar-1 .links dl {
    border-bottom: dotted 1px #6EB3FF;
}

#side-bar-1 .popular li {
    border-top: dotted 1px #D8CFCF;
}

#side-bar-1 .popular .popular-header .time {
    color: #9D9C9C;
}

#side-bar-1 .popular .popular-header .author {
    color: #23B4EC;
}

#side-bar-1 .popular .popular-header .views {
    color: #C5BABA;
}
