/* initialize */

a img:hover {
    color: #B4B4B4;
}

a {
    color: rgb(105, 105, 105);
}


/* COMMON STYLE */
.sub-title {
    color: #ABD6FF;
    border: solid 1px #ABD6FF;
}

.header .sub-title, ul.pickup .time-ago, .single-post .mini-info .sub-title {
    color: #ABD6FF;
    border: solid 1px #ABD6FF;
}

.mini-info {
    color: #ABD6FF;
}

.mini-info a {
    color: #ABD6FF;
}

.pre {
    color: #ABD6FF;
    border: solid 1px #ABD6FF;
}

.pre:hover, .next:hover {
    background-color: rgba(163, 203, 208, 0.33);
}

.next {
    color: #ABD6FF;
    border: solid 1px #ABD6FF;
}

/* NAVI */

/* COMMON HEADER */

/* INDEX HEADER */

h3 {
    font-size: 50px;
}


::selection {
    background: #d9f6f8; /* Safari */
}

::-moz-selection {
    background: #d9f6f8; /* Firefox */
}

#index-page .header h1 span:first-child {
    color: #99E3F1;
}

#index-page .header h1 span:nth-child(3) {
    color: #ABD6FF;
}

/* INDEX HEADER */

.default .header {
    background-image: url(../images/ucla/header/ucla-background.png);

}

/* サイズ1024以下の時にbackgroundを切り替える */

@media screen and (max-width: 1024px) {
.default .header {
    background-image: url(../images/ucla/header/ucla-small-background.png);
}
}


/* 1024px 以下サイズ
@media screen and (max-width: 1024px) {
    #index-page .site-character {
        padding: 57px 0;
        margin: 0 auto;
        width: 160px;
    }
    #index-page .site-character img{
        width: 160px;
    }
}
*/

/* 700px 以下サイズ*/
@media screen and (max-width: 700px) {
    .default .header {
        background-image:none;
    }
}

/* 580px 以下サイズ*/
@media screen and (max-width: 580px){
    #index-page .site-character {
        padding: 32px 0;
        margin: 0 auto;
        width: 115px;
    }
    #index-page .site-character img {
        width: 125px;
    }
}


/* INDEX BODY */

.post-authors img {
    border: solid 1px #E6E1E1;
}


.articles .sub-title {
    color: #ABD6FF;
    border: solid 1px #ABD6FF;
}

/* CATEGORY HEADER  */

#category-page .header {
    border-bottom: dotted 1px #ABD6FF;
}

#category-page .header .cate-img-top {
    display: none;
}



/* AUTHOR HEADER */

#author-page .header img.author-header {
    border: solid 1px #E6E1E1;
}

/* POST */

.entry-content a {
    color: #ABD6FF !important;
}

.entry-content h1 a, .entry-content h2 a, .entry-content h3 a, .entry-content h4 a, .entry-content  h5 a, .entry-content h6 a {
    color: #ABD6FF;
}

.entry-content img {
    border: 1px solid #ddd
}


.post-related h3 {
    color: #ABD6FF;
}

.post-related .relatedthumb {
    border: solid 2px #ABD6FF !important
}

/* ABOUT */

.about .sign > img {
    width: 40%;
}

/* AUTHORS */

.authors img {
    border: solid 1px #E6E1E1;
}

.authors {
    border-top: dotted 1px #EAEAEA;
}


.authors .since-date {
    color: #ABD6FF;
}

/* SIDE BAR */

#side-bar-1 .about, .site-categories {
    border-bottom: dotted 1px #ABD6FF;
}

#side-bar-1 .side-title {
    color: #ABD6FF;
}

/* SIDE BAR POPULAR */


#side-bar-1 .popular, #side-bar-1 .links dl {
    border-bottom: dotted 1px #D8CFCF;
}


#side-bar-1 .popular .popular-header .time {
    color: #9D9C9C;
}

#side-bar-1 .popular .popular-header .author {
    color: #ABD6FF;
}

#side-bar-1 .popular .popular-header .views {
    color: #C5BABA;
}

.post .views {
    color: #ABD6FF;
}

.header .sub-title, .time-ago, .single-post .mini-info .sub-title {
    border: solid 1px #ABD6FF;
    border-radius: 3px;
    padding: 2px 4px;
}

/*
@media screen and (max-width: 700px){
    ul.header-navi-locations {
        margin: 0 auto;
        width: 348px;
        padding-left: 0;
    }}
*/
.site-character {
    margin: 0 auto;
    width: 222px;
    padding-top:0;

}